extends layout

block content
  //- canvas#myCanvas(width="400" height="300")
  h1.dare-to LOGOTYPE
  .grid.noselect
    .grid-sizer
    //- .grid-item
    //-   img(src="https://media1.giphy.com/media/vjtZteFBj5Tz2/200.gif")
    //- .grid-item
    //-   img(src="https://media1.giphy.com/media/QqvTcHb65TrPy/200.gif")
    //- .grid-item
    //-   img(src="https://media2.giphy.com/media/AmTrjxDnL7RkY/200.gif#30")
    //- .grid-item
    //-   img(src="https://unsplash.it/200/310/?random")
    //- .grid-item
    //-   img(src="https://unsplash.it/200/470/?random")
    //- .grid-item
    //-   span Design and develop some really good shit
    //- .grid-item
    //-   img(src="https://unsplash.it/200/360/?random")
    //- .grid-item
    //-   img(src="https://unsplash.it/200/400/?random")
    //- .grid-item
    //-   img(src="https://unsplash.it/200/300/?random")
    //- .grid-item
    //-   img(src="https://unsplash.it/200/420/?random")
    //- .grid-item
    //-   img(src="https://unsplash.it/200/200/?random")
    //- .grid-item
    //-   img(src="https://unsplash.it/200/310/?random")
    //- .grid-item
    //-   span 😡
    //- .grid-item
    //-   img(src="https://unsplash.it/200/470/?random")
    //- .grid-item
    //-   img(src="https://unsplash.it/200/220/?random")
    //- .grid-item
    //-   img(src="https://unsplash.it/200/360/?random")
    //- .grid-item
    //-   img(src="https://unsplash.it/200/400/?random")

