extends layout

block content
  //- canvas#myCanvas(width="400" height="300")
  h1.dare-to DARESAY
  p.address dare2.xyz
  .grid-overlay
  .grid.noselect
    .grid-sizer.grid-sizer-2
    //- .grid-item.grid-item-2
    //-   img(src="https://media1.giphy.com/media/vjtZteFBj5Tz2/200.gif")
    //- .grid-item.grid-item-2
    //-   span.dream Tech stuff
    //- .grid-item.grid-item-2
    //-   img(src="https://media1.giphy.com/media/QqvTcHb65TrPy/200.gif")
    //- .grid-item.grid-item-2
    //-   img(src="https://media2.giphy.com/media/AmTrjxDnL7RkY/200.gif#30")
    //- .grid-item.grid-item-2
    //-   img(src="https://media2.giphy.com/media/l3q2ZnGh7vgKnzQpa/200.gif")
    //- .grid-item.grid-item-2
    //-   img(src="https://media2.giphy.com/media/3otPoy95um4nos6mdO/200.gif")
    //- .grid-item.grid-item-2
    //-   img(src="https://media1.giphy.com/media/l3q2SaisWTeZnV9wk/200.gif")
    //- .grid-item.grid-item-2
    //-   span.future Cooool
    //- .grid-item.grid-item-2
    //-   img(src="https://media2.giphy.com/media/adikIKGu30u6A/200.gif")
    //- .grid-item.grid-item-2
    //-   img(src="https://media3.giphy.com/media/BeiRv9wCz7xUQ/200.gif")
    //- .grid-item.grid-item-2
    //-   img(src="https://media1.giphy.com/media/l3q2NsJfJxVuOv3by/200.gif")
    //- .grid-item.grid-item-2
    //-   img(src="https://media3.giphy.com/media/26xBwiOr30OAEglUs/200w.gif")
    //- .grid-item.grid-item-2
    //-   img(src="https://media2.giphy.com/media/26xBCFk9LgXcHwfbG/200w.gif")
    //- .grid-item.grid-item-2
    //-   img(src="https://media2.giphy.com/media/oXwWCXoPHaZeE/200w.gif")
    //- .grid-item.grid-item-2
    //-   img(src="https://media3.giphy.com/media/3o7ZeK1dyNazVE4Mdq/200.gif")
    //- .grid-item.grid-item-2
    //-   img(src="https://media3.giphy.com/media/3o6ZtjgOj9QULzqdyg/200w.gif")
    //- .grid-item.grid-item-2
    //-   span.dream Awesome!
    //- .grid-item.grid-item-2
    //-   img(src="https://media4.giphy.com/media/bOuLUce0ama1G/200.gif")
    //- .grid-item.grid-item-2
    //-   img(src="https://media1.giphy.com/media/3o7TKLuMOQ4RMby9oI/200.gif")
    //- .grid-item.grid-item-2
    //-   img(src="https://media1.giphy.com/media/26gs7OQ0V7RfuNouA/200w.gif")
    //- .grid-item.grid-item-2
    //-   img(src="https://media4.giphy.com/media/l3q2xjNHSMvS8jFXG/200.gif")
    //- .grid-item.grid-item-2
    //-   img(src="https://media2.giphy.com/media/l3q2YYEOoW4lTaeKA/200.gif")
    //- .grid-item.grid-item-2
    //-   img(src="https://media4.giphy.com/media/rZaBBQ6uAkCBi/200.gif")
    //- .grid-item.grid-item-2
    //-   img(src="https://media0.giphy.com/media/3o6gDX71D3zZpbWIZa/200.gif")
    //- .grid-item.grid-item-2
    //-   span.machine Innovate
    //- .grid-item.grid-item-2
    //-   img(src="https://media2.giphy.com/media/26xBy4g1eHS1vqZRS/200.gif")
    //- .grid-item.grid-item-2
    //-   img(src="https://media2.giphy.com/media/DMNwEOCIHouzu/200.gif")
    //- .grid-item.grid-item-2
    //-   img(src="https://media2.giphy.com/media/5DpF7t1WzLnCU/200.gif")
    //- .grid-item.grid-item-2
    //-   img(src="https://media1.giphy.com/media/hFtVHPDcrVubS/200.gif")
    //- .grid-item.grid-item-2
    //-   img(src="https://media2.giphy.com/media/3o7qDWp7hxhi1N8oF2/200w.gif")
    //- .grid-item.grid-item-2
    //-   img(src="https://media0.giphy.com/media/l3vR9O3vpOCDRo8rC/200.gif")
    //- .grid-item.grid-item-2
    //-   img(src="https://media0.giphy.com/media/26BRPA0Wlopn9LRMk/200w.gif")
    //- .grid-item.grid-item-2
    //-   img(src="https://media1.giphy.com/media/X4bxBToWZWjPq/200.gif")
    //- .grid-item.grid-item-2
    //-   img(src="https://media0.giphy.com/media/l2JhubLEMdOJsixkk/200w.gif")
    //- .grid-item.grid-item-2
    //-   img(src="https://media3.giphy.com/media/7kn27lnYSAE9O/200.gif")
    //- .grid-item.grid-item-2
    //-   img(src="https://media2.giphy.com/media/R38SswoY6wEDe/200.gif")
    //- .grid-item.grid-item-2
    //-   img(src="https://media2.giphy.com/media/l2SpR03mURISUc7oQ/200.gif")
    //- .grid-item.grid-item-2
    //-   img(src="https://media1.giphy.com/media/l3q2YjwCUuR709rHi/200w.gif")
    //- .grid-item.grid-item-2
    //-   img(src="https://media4.giphy.com/media/26gsggAnWFbSa2JGg/200w.gif")
    //- .grid-item.grid-item-2
    //-   img(src="https://media1.giphy.com/media/d3mmEhXbo9SG4kzS/200w.gif")
    //- .grid-item.grid-item-2
    //-   img(src="https://media4.giphy.com/media/3oz8xXS6gDYSNbqme4/200.gif")
    //- .grid-item.grid-item-2
    //-   img(src="https://media2.giphy.com/media/d4aUNBy59NgUFdAs/200.gif")

    //- .grid-item.grid-item-2
    //-   img(src="https://media1.giphy.com/media/vjtZteFBj5Tz2/200.gif")
    //- .grid-item.grid-item-2
    //-   span.dream Tech stuff
    //- .grid-item.grid-item-2
    //-   img(src="https://media1.giphy.com/media/QqvTcHb65TrPy/200.gif")
    //- .grid-item.grid-item-2
    //-   img(src="https://media2.giphy.com/media/AmTrjxDnL7RkY/200.gif#30")
    //- .grid-item.grid-item-2
    //-   img(src="https://media2.giphy.com/media/l3q2ZnGh7vgKnzQpa/200.gif")
    //- .grid-item.grid-item-2
    //-   img(src="https://media2.giphy.com/media/3otPoy95um4nos6mdO/200.gif")
    //- .grid-item.grid-item-2
    //-   img(src="https://media1.giphy.com/media/l3q2SaisWTeZnV9wk/200.gif")
    //- .grid-item.grid-item-2
    //-   span.future Cooool
    //- .grid-item.grid-item-2
    //-   img(src="https://media2.giphy.com/media/adikIKGu30u6A/200.gif")
    //- .grid-item.grid-item-2
    //-   img(src="https://media3.giphy.com/media/BeiRv9wCz7xUQ/200.gif")
    //- .grid-item.grid-item-2
    //-   img(src="https://media1.giphy.com/media/l3q2NsJfJxVuOv3by/200.gif")
    //- .grid-item.grid-item-2
    //-   img(src="https://media3.giphy.com/media/26xBwiOr30OAEglUs/200w.gif")
    //- .grid-item.grid-item-2
    //-   img(src="https://media2.giphy.com/media/26xBCFk9LgXcHwfbG/200w.gif")
    //- .grid-item.grid-item-2
    //-   img(src="https://media2.giphy.com/media/oXwWCXoPHaZeE/200w.gif")
    //- .grid-item.grid-item-2
    //-   img(src="https://media3.giphy.com/media/3o7ZeK1dyNazVE4Mdq/200.gif")
    //- .grid-item.grid-item-2
    //-   img(src="https://media3.giphy.com/media/3o6ZtjgOj9QULzqdyg/200w.gif")
    //- .grid-item.grid-item-2
    //-   span.dream Awesome!
    //- .grid-item.grid-item-2
    //-   img(src="https://media4.giphy.com/media/bOuLUce0ama1G/200.gif")
    //- .grid-item.grid-item-2
    //-   img(src="https://media1.giphy.com/media/3o7TKLuMOQ4RMby9oI/200.gif")
    //- .grid-item.grid-item-2
    //-   img(src="https://media1.giphy.com/media/26gs7OQ0V7RfuNouA/200w.gif")
    //- .grid-item.grid-item-2
    //-   img(src="https://media4.giphy.com/media/l3q2xjNHSMvS8jFXG/200.gif")
    //- .grid-item.grid-item-2
    //-   img(src="https://media2.giphy.com/media/l3q2YYEOoW4lTaeKA/200.gif")
    //- .grid-item.grid-item-2
    //-   img(src="https://media4.giphy.com/media/rZaBBQ6uAkCBi/200.gif")
    //- .grid-item.grid-item-2
    //-   img(src="https://media0.giphy.com/media/3o6gDX71D3zZpbWIZa/200.gif")
    //- .grid-item.grid-item-2
    //-   span.machine Innovate
    //- .grid-item.grid-item-2
    //-   img(src="https://media2.giphy.com/media/26xBy4g1eHS1vqZRS/200.gif")
    //- .grid-item.grid-item-2
    //-   img(src="https://media2.giphy.com/media/DMNwEOCIHouzu/200.gif")
    //- .grid-item.grid-item-2
    //-   img(src="https://media2.giphy.com/media/5DpF7t1WzLnCU/200.gif")
    //- .grid-item.grid-item-2
    //-   img(src="https://media1.giphy.com/media/hFtVHPDcrVubS/200.gif")
    //- .grid-item.grid-item-2
    //-   img(src="https://media2.giphy.com/media/3o7qDWp7hxhi1N8oF2/200w.gif")
    //- .grid-item.grid-item-2
    //-   img(src="https://media0.giphy.com/media/l3vR9O3vpOCDRo8rC/200.gif")
    //- .grid-item.grid-item-2
    //-   img(src="https://media0.giphy.com/media/26BRPA0Wlopn9LRMk/200w.gif")
    //- .grid-item.grid-item-2
    //-   img(src="https://media1.giphy.com/media/X4bxBToWZWjPq/200.gif")
    //- .grid-item.grid-item-2
    //-   img(src="https://media0.giphy.com/media/l2JhubLEMdOJsixkk/200w.gif")
    //- .grid-item.grid-item-2
    //-   img(src="https://media3.giphy.com/media/7kn27lnYSAE9O/200.gif")
    //- .grid-item.grid-item-2
    //-   img(src="https://media2.giphy.com/media/R38SswoY6wEDe/200.gif")
    //- .grid-item.grid-item-2
    //-   img(src="https://media2.giphy.com/media/l2SpR03mURISUc7oQ/200.gif")
    //- .grid-item.grid-item-2
    //-   img(src="https://media1.giphy.com/media/l3q2YjwCUuR709rHi/200w.gif")
    //- .grid-item.grid-item-2
    //-   img(src="https://media4.giphy.com/media/26gsggAnWFbSa2JGg/200w.gif")
    //- .grid-item.grid-item-2
    //-   img(src="https://media1.giphy.com/media/d3mmEhXbo9SG4kzS/200w.gif")
    //- .grid-item.grid-item-2
    //-   img(src="https://media4.giphy.com/media/3oz8xXS6gDYSNbqme4/200.gif")
    //- .grid-item.grid-item-2
    //-   img(src="https://media2.giphy.com/media/d4aUNBy59NgUFdAs/200.gif")

