extends layout

block content
  //- canvas#myCanvas(width="400" height="300")
  h1.dare-to DARESAY
  //- p.address dare2.xyz
  .grid-overlay
  .grid.noselect
    .grid-sizer.grid-sizer-2
    //- .grid-item.grid-item-2
    //-   img(src="https://media1.giphy.com/media/vjtZteFBj5Tz2/200.gif")
    //- .grid-item.grid-item-2
    //-   span.dream Tech stuff

    .grid-item.grid-item-2
      img(src="http://media2.giphy.com/media/6ml6CschtIBtm/giphy-downsized.gif")
    .grid-item.grid-item-2
      img(src="http://media1.giphy.com/media/iU2yJX5YKI9pe/giphy-downsized.gif")
    .grid-item.grid-item-2
      span.machine 11 charact
    .grid-item.grid-item-2
      img(src="http://media3.giphy.com/media/d3mnBoEEPWAU6XOE/giphy-downsized.gif")
    .grid-item.grid-item-2
      img(src="http://media4.giphy.com/media/TSPA1nZnJ9lCg/giphy-downsized.gif")
    .grid-item.grid-item-2
      img(src="http://media3.giphy.com/media/l3q2Ty3RWark8VgIw/giphy-downsized.gif")
    .grid-item.grid-item-2
      img(src="http://media.giphy.com/media/3o7qDPfGhunRMZikI8/giphy-tumblr.gif")
    .grid-item.grid-item-2
      img(src="http://media1.giphy.com/media/3o6gb7cN7bwDxAbnS8/giphy.gif")
    .grid-item.grid-item-2
      img(src="http://media0.giphy.com/media/POkRt3J8zSWbK/giphy.gif")
    .grid-item.grid-item-2
      img(src="http://media1.giphy.com/media/89mYfQ0prBkWY/giphy-downsized.gif")
    .grid-item.grid-item-2
      img(src="http://media0.giphy.com/media/l2Jht8Xew78rOJML6/giphy-tumblr.gif")
    .grid-item.grid-item-2
      img(src="http://media0.giphy.com/media/KUBoaTAtDraus/giphy-downsized.gif")
    .grid-item.grid-item-2
      img(src="https://media0.giphy.com/media/Nv4nsvNQEZCDu/giphy.gif")
    .grid-item.grid-item-2
      img(src="http://media1.giphy.com/media/n7M18VcqrMjCg/giphy.gif")
    .grid-item.grid-item-2
      img(src="http://media.giphy.com/media/Xl6MM0lOHGkSY/giphy-tumblr.gif")
    .grid-item.grid-item-2
      img(src="http://media2.giphy.com/media/xqUgUqnVrqn8Q/giphy-tumblr.gif")
    .grid-item.grid-item-2
      img(src="http://media2.giphy.com/media/XwSurxsOynAnS/giphy-downsized.gif")
    .grid-item.grid-item-2
      img(src="https://media4.giphy.com/media/g69ZPJfLy7hD2/giphy.gif")
    .grid-item.grid-item-2
      img(src="http://media.giphy.com/media/l4KibOaou932EC7Dy/giphy-tumblr.gif")
    .grid-item.grid-item-2
      img(src="http://media2.giphy.com/media/3o8dp1g2zZL1hQKOME/giphy-downsized.gif")
    .grid-item.grid-item-2
      img(src="http://media0.giphy.com/media/POkRt3J8zSWbK/giphy.gif")
    .grid-item.grid-item-2
      img(src="http://media.giphy.com/media/3orieWDDl0mY3R4TCw/giphy-tumblr.gif")
    .grid-item.grid-item-2
      img(src="http://media1.giphy.com/media/LSNqpYqGRqwrS/giphy.gif")
    .grid-item.grid-item-2
      img(src="http://media3.giphy.com/media/l41YfsMeWbVPC5XPy/giphy-downsized.gif")
    .grid-item.grid-item-2
        span.machine Hej :)
    .grid-item.grid-item-2
      img(src="http://media4.giphy.com/media/26AHG5KGFxSkUWw1i/giphy-downsized.gif")
    .grid-item.grid-item-2
      img(src="http://media1.giphy.com/media/SvHdjJFVBBLPy/giphy-downsized.gif")
    .grid-item.grid-item-2
      img(src="http://media2.giphy.com/media/yWMeJgQD4Q6Ws/giphy.gif")
    .grid-item.grid-item-2
      img(src="http://media1.giphy.com/media/Mqd6b7mYXCvza/giphy-downsized.gif")
    .grid-item.grid-item-2
        span.future Hello?
    .grid-item.grid-item-2
      img(src="http://media0.giphy.com/media/qUHxAava8vmUg/giphy-downsized.gif")
    .grid-item.grid-item-2
      img(src="http://media4.giphy.com/media/26xBEamXwaMSUbV72/giphy-downsized.gif")
    .grid-item.grid-item-2
      img(src="http://media.giphy.com/media/9PyhoXey73EpW/giphy-tumblr.gif")
    .grid-item.grid-item-2
        span.future Kung Fury
    .grid-item.grid-item-2
        span.future La la land
    .grid-item.grid-item-2
      img(src="http://media1.giphy.com/media/3o7TKPvB1c9ZlxiyMU/giphy-downsized.gif")
    .grid-item.grid-item-2
      img(src="http://media.giphy.com/media/ujBfE6zDRAcYU/giphy-tumblr.gif")
    .grid-item.grid-item-2
      img(src="http://media0.giphy.com/media/8u9PS5l5znIbe/giphy-downsized.gif")
    .grid-item.grid-item-2
      img(src="http://media0.giphy.com/media/NGALQBUgvmVTa/giphy.gif")
    .grid-item.grid-item-2
      img(src="https://media3.giphy.com/media/3o6ZsXSMf3FeooPLi0/giphy.gif")
    .grid-item.grid-item-2
        span.future Smashing
    .grid-item.grid-item-2
        span.machine Malin s är
    .grid-item.grid-item-2
        span.machine Bäst
    .grid-item.grid-item-2
      img(src="http://media.giphy.com/media/xTiTnLbo0KIJ8hrNjG/giphy-tumblr.gif")
    .grid-item.grid-item-2
      img(src="http://media3.giphy.com/media/6PopYBwOlKS8o/giphy-downsized.gif")
    .grid-item.grid-item-2
      img(src="http://media1.giphy.com/media/xT8qAY7e9If38xkrIY/giphy.gif")
    .grid-item.grid-item-2
      img(src="http://media.giphy.com/media/mOOuUUIEEgq6A/giphy-tumblr.gif")
    .grid-item.grid-item-2
      img(src="http://media1.giphy.com/media/3o85xChv5muUGOhyWk/giphy-downsized.gif")
    .grid-item.grid-item-2
      img(src="http://media1.giphy.com/media/ruCg20L6H72TK/giphy-downsized.gif")
    .grid-item.grid-item-2
      img(src="http://media0.giphy.com/media/fo1GYirsWYkvK/giphy.gif")
    .grid-item.grid-item-2
      img(src="http://media1.giphy.com/media/sUrnsy4VdAVDq/giphy-downsized.gif")
    .grid-item.grid-item-2
      img(src="http://media3.giphy.com/media/3oI9JBnChEnNcFsCac/giphy-tumblr.gif")
    .grid-item.grid-item-2
      img(src="https://media3.giphy.com/media/yhxVTJ5fPzWO4/giphy.gif")
    .grid-item.grid-item-2
      img(src="http://media4.giphy.com/media/8b29QJQgVwUW4/giphy-downsized.gif")
    .grid-item.grid-item-2
      img(src="http://media2.giphy.com/media/kEKcOWl8RMLde/giphy-downsized.gif")
    .grid-item.grid-item-2
      img(src="http://media4.giphy.com/media/l0COJ5gIPUN2vOj5u/giphy-downsized.gif")
    .grid-item.grid-item-2
      img(src="http://media3.giphy.com/media/26xBOej910TLvPQZO/giphy-downsized.gif")
    .grid-item.grid-item-2
      img(src="http://media3.giphy.com/media/d2YVcQ6YD7ITzVNC/giphy.gif")
    .grid-item.grid-item-2
      img(src="http://media2.giphy.com/media/l2JHZ0dIcyFo5UQGQ/giphy.gif")
    .grid-item.grid-item-2
      img(src="http://media4.giphy.com/media/3o6ZsYTW85Qpbgi6eQ/giphy-tumblr.gif")
    .grid-item.grid-item-2
      img(src="http://media0.giphy.com/media/QeuIjgyfsHp6w/giphy-downsized.gif")
    .grid-item.grid-item-2
      img(src="http://media2.giphy.com/media/r5Q8dz5RBbGhy/giphy-downsized.gif")
    .grid-item.grid-item-2
      img(src="http://media3.giphy.com/media/zpHPOBE5r5w0o/giphy-tumblr.gif")
    .grid-item.grid-item-2
      img(src="http://media2.giphy.com/media/NQ3SGAMneQ920/giphy.gif")
    .grid-item.grid-item-2
      img(src="http://media0.giphy.com/media/3o7TKUgtJ8d7qMzG1O/giphy-downsized.gif")
    .grid-item.grid-item-2
        span.dream SIMON B ❤❤
    .grid-item.grid-item-2
      img(src="http://media1.giphy.com/media/X3c8ZcjrbROs8/giphy.gif")
    .grid-item.grid-item-2
      img(src="http://media.giphy.com/media/7BkrzsIMVGv9m/giphy-tumblr.gif")
    .grid-item.grid-item-2
        span.machine 안녕
    .grid-item.grid-item-2
        span.future hipstär
    .grid-item.grid-item-2
      img(src="http://media2.giphy.com/media/rZ6cLzvFAGqqY/giphy-downsized.gif")
    .grid-item.grid-item-2
      img(src="http://media1.giphy.com/media/ViH0oHp5f11AY/giphy.gif")
    .grid-item.grid-item-2
      img(src="http://media2.giphy.com/media/tDOt5VETWTVeM/giphy-downsized.gif")
    .grid-item.grid-item-2
      img(src="http://media0.giphy.com/media/AlEp8Fj45KPLO/giphy-downsized.gif")
    .grid-item.grid-item-2
      img(src="http://media2.giphy.com/media/VgbTIdteowVaM/giphy-tumblr.gif")
    .grid-item.grid-item-2
      img(src="http://media4.giphy.com/media/Ufz11OhKmlmCY/giphy-downsized.gif")
    .grid-item.grid-item-2
      img(src="http://media.giphy.com/media/3o6MbeDiaHJaF2EuQM/giphy-tumblr.gif")
    .grid-item.grid-item-2
      img(src="http://media3.giphy.com/media/3otPoqb6Ah3ICgTqve/giphy-downsized.gif")
    .grid-item.grid-item-2
      img(src="http://media3.giphy.com/media/12GECB2Ch4EZ6U/giphy-downsized.gif")
    .grid-item.grid-item-2
      img(src="http://media.giphy.com/media/3o7qDJgao20ip08mY0/giphy-tumblr.gif")
    .grid-item.grid-item-2
      img(src="http://media.giphy.com/media/njYrp176NQsHS/giphy-tumblr.gif")
    .grid-item.grid-item-2
      img(src="http://media2.giphy.com/media/kpBwuCo7gHiko/giphy-downsized.gif")
    .grid-item.grid-item-2
      img(src="http://media1.giphy.com/media/qNNJNnoMWXjig/giphy-downsized.gif")
    .grid-item.grid-item-2
      img(src="http://media2.giphy.com/media/43uo60fTjfKzS/giphy.gif")
    .grid-item.grid-item-2
      img(src="http://media2.giphy.com/media/wRiKGCSwJxUVa/giphy-tumblr.gif")
    .grid-item.grid-item-2
      img(src="http://media4.giphy.com/media/3oEduSyEJzGEm60xR6/giphy.gif")
    .grid-item.grid-item-2
        span.future Dare to...
    .grid-item.grid-item-2
      img(src="http://media4.giphy.com/media/26ueZ3ADWRdWhWc4o/giphy.gif")
    .grid-item.grid-item-2
      img(src="https://media.giphy.com/media/56ztAzuWmlFwA/giphy-tumblr.gif")
    .grid-item.grid-item-2
      img(src="http://media0.giphy.com/media/P7qFEMh3TLMGY/giphy-tumblr.gif")
    .grid-item.grid-item-2
      img(src="http://media.giphy.com/media/xT5LMDHIuprP4r10vm/giphy-tumblr.gif")
    .grid-item.grid-item-2
        span.dream Dare chang
    .grid-item.grid-item-2
      img(src="http://media1.giphy.com/media/D7z8JfNANqahW/giphy.gif")
    .grid-item.grid-item-2
      img(src="http://media3.giphy.com/media/l4JyJHAF8blvfplf2/giphy-tumblr.gif")
    .grid-item.grid-item-2
      img(src="http://media3.giphy.com/media/tkH9xOLRfpfPy/giphy-downsized.gif")
    .grid-item.grid-item-2
      img(src="http://media1.giphy.com/media/vkYbZOzdG80PC/giphy.gif")
    .grid-item.grid-item-2
      img(src="http://media0.giphy.com/media/l0DEJTwlNCAAQCykg/giphy-downsized.gif")
    .grid-item.grid-item-2
      img(src="http://media0.giphy.com/media/CAup19fEfBIKA/giphy-tumblr.gif")
    .grid-item.grid-item-2
      img(src="http://media0.giphy.com/media/ZXlDOOsfV0a8U/giphy.gif")
    .grid-item.grid-item-2
      img(src="http://media4.giphy.com/media/PfAlkse6FMWCk/giphy-tumblr.gif")
    .grid-item.grid-item-2
      img(src="http://media.giphy.com/media/xT8qBvVrX0wuuItpFm/giphy-tumblr.gif")
    .grid-item.grid-item-2
      img(src="http://media1.giphy.com/media/l2YWuOyr85bkTL98Q/giphy-downsized.gif")
    .grid-item.grid-item-2
      img(src="http://media3.giphy.com/media/JmWeRxjRKocta/giphy-downsized.gif")
    .grid-item.grid-item-2
      img(src="http://media4.giphy.com/media/7oRmKTxR8L0wo/giphy-downsized.gif")
    .grid-item.grid-item-2
      img(src="http://media2.giphy.com/media/1aR5k7DmtQb4I/giphy-downsized.gif")
    .grid-item.grid-item-2
      img(src="http://media4.giphy.com/media/sOLcYxrv9BZdu/giphy-downsized.gif")
    .grid-item.grid-item-2
      img(src="http://media1.giphy.com/media/2fl0a2JdugfrW/giphy-tumblr.gif")
    .grid-item.grid-item-2
      img(src="http://media4.giphy.com/media/qWrJAJDwI8xQA/giphy-downsized.gif")
    .grid-item.grid-item-2
      img(src="https://media1.giphy.com/media/N5j9UtO9ViQKI/giphy.gif")
    .grid-item.grid-item-2
      img(src="http://media2.giphy.com/media/rdJCzxBWIvqGA/giphy-downsized.gif")
    .grid-item.grid-item-2
      img(src="http://media1.giphy.com/media/SiZVqsDEaNBeM/giphy-downsized.gif")
    .grid-item.grid-item-2
      img(src="http://media4.giphy.com/media/3o85xs2rRMDrsS6TKg/giphy-downsized.gif")
    .grid-item.grid-item-2
      img(src="http://media1.giphy.com/media/qYrNaLlBHiIp2/giphy-downsized.gif")
    .grid-item.grid-item-2
      img(src="http://media.giphy.com/media/pc2y1Gby9EAUg/giphy-tumblr.gif")
    .grid-item.grid-item-2
      img(src="http://media1.giphy.com/media/T3Rnte4HuIJxK/giphy-downsized.gif")
    .grid-item.grid-item-2
      img(src="http://media2.giphy.com/media/iugG1W785yyek/giphy-downsized.gif")
    .grid-item.grid-item-2
      img(src="http://media3.giphy.com/media/1g5DVqjpwu7hm/giphy-downsized.gif")
    .grid-item.grid-item-2
      img(src="http://media0.giphy.com/media/SU5KTCr3mC5i0/giphy-downsized.gif")
    .grid-item.grid-item-2
      img(src="http://media3.giphy.com/media/f221JrkTZ89nq/giphy.gif")
    .grid-item.grid-item-2
      img(src="http://media3.giphy.com/media/bXj1AKcRdQSre/giphy.gif")
    .grid-item.grid-item-2
      img(src="http://media0.giphy.com/media/uzUkuJWIPKu5i/giphy.gif")
    .grid-item.grid-item-2
      img(src="https://media2.giphy.com/media/feiqcfXFDjCPm/giphy.gif")
    .grid-item.grid-item-2
      img(src="http://media0.giphy.com/media/MwhDPWr6MzIGY/giphy.gif")
    .grid-item.grid-item-2
      img(src="http://media1.giphy.com/media/iAKXyzgLVtKsU/giphy.gif")
    .grid-item.grid-item-2
      img(src="http://media.giphy.com/media/26FPKhUtNG3TW74f6/giphy-tumblr.gif")
    .grid-item.grid-item-2
      img(src="http://media0.giphy.com/media/13hpSWO9gqdXQ4/giphy-downsized.gif")
    .grid-item.grid-item-2
      img(src="https://media0.giphy.com/media/epTPsHIfK3GwM/giphy.gif")
    .grid-item.grid-item-2
      img(src="http://media3.giphy.com/media/MZi92gxHBeA2Q/giphy.gif")
    .grid-item.grid-item-2
        span.dream Hejsan
    .grid-item.grid-item-2
      img(src="http://media3.giphy.com/media/4j0yPZehujjaw/giphy.gif")
    .grid-item.grid-item-2
      img(src="http://media.giphy.com/media/l2JHX1fierBzZAT8A/giphy-tumblr.gif")
    .grid-item.grid-item-2
      img(src="http://media2.giphy.com/media/tAiH2UUFA8kjS/giphy-downsized.gif")
    .grid-item.grid-item-2
      img(src="http://media4.giphy.com/media/l0Ex7UHXYsflnTgoo/giphy-downsized.gif")
    .grid-item.grid-item-2
      img(src="http://media0.giphy.com/media/dAoRZGfSLxuUg/giphy.gif")
    .grid-item.grid-item-2
        span.machine syntax
    .grid-item.grid-item-2
      img(src="http://media3.giphy.com/media/3o6ZsYSFUWDKWy8IYE/giphy.gif")
    .grid-item.grid-item-2
      img(src="http://media4.giphy.com/media/3o7TKGMEexYBEhuoGk/giphy-downsized.gif")
    .grid-item.grid-item-2
      img(src="http://media1.giphy.com/media/1AhNXmfWcHnfq/giphy-downsized.gif")
    .grid-item.grid-item-2
      img(src="http://media0.giphy.com/media/bw0KPcOupfALS/giphy.gif")

