
@import url(https://fonts.googleapis.com/css?family=Rubik:300,300i,500,500i|Space+Mono:400,700);
@import url(http://fonts.googleapis.com/css?family=Mr+Dafoe);

@import 'loading';

@font-face {
  font-family: 'ios7-icon';
  src: url('https://cdn.rawgit.com/simon-johansson/iOS7-icon-font/55826214/fonts/ios7-icon.woff') format('woff'),
       url('https://cdn.rawgit.com/simon-johansson/iOS7-icon-font/55826214/fonts/ios7-icon.ttf') format('truetype'),
       url('https://cdn.rawgit.com/simon-johansson/iOS7-icon-font/55826214/fonts/ios7-icon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

$font-heading: 'Space Mono', monospace;
$font: 'Rubik', sans-serif;
$dark-liver: rgba(80, 81, 79, 1);
$sunset-orange: rgba(242, 95, 92, 1);
$mustard: rgba(255, 224, 102, 1);
$lapis-lazuli: rgba(36, 123, 160, 1);
$green-sheen: rgba(112, 193, 179, 1);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

*:focus {
  outline: none;
}

body, html {
  height: 100%;
  width: 100%;
  background: black;
  font-family: $font;
  // overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-heading;
  color: white;
}

.iosIcon {
  font-family: 'ios7-icon';
  -webkit-text-rendering: geometricPrecision;
  -moz-text-rendering: geometricPrecision;
  -ms-text-rendering: geometricPrecision;
  -o-text-rendering: geometricPrecision;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  display: inline-block;
}

.hidden {
  display: none;
}

header {
  width: 100%;
  border-bottom: 1px solid white;
  padding: 10px;
  margin-bottom: 20px;
  color: white;
  text-align: center;
}

.back {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 50px;
  width: 60px;
  line-height: 50px;
}

.heading {
  font-family: $font-heading;
  font-size: 20px;
  font-weight: bold;
}

.sorry,
.description p {
  color: white;
  font-size: 20px;
  text-align: center;
  width: 90%;
  margin: 20px auto;
  font-weight: normal;

  .big {
    font-size: 25px;
  }
  .small {
    margin-top: 15px;
    font-weight: 100;
  }
}

.input-wrapper {
  position: relative;

  .amount {
    position: absolute;
    color: #87878C;
    font-size: 20px;
    top: 8px;
    right: 20px;
  }
}

.preview {
  margin-top: 10px;
  height: 150px;
  line-height: 150px;

  span {
    text-align: center;
    display: block;
    white-space: nowrap;
    font-size: 70px;
  }
}

.send,
.send-text {
  display: block;
  width: 80%;
  margin: 20px auto;
  height: 40px;
  // border: 1px solid #000;
  border-radius: 3px;
  text-align: center;
  line-height: 40px;
  background: #98CBB4;

  span {
    font-size: 20px;
    vertical-align: middle;
    font-weight: bold;
    margin-right: 5px;
  }
}

.sent {
  z-index: 999;
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  background: #98CBB4;
  text-align: center;

  span {
    font-size: 300px;
    color: white;
    font-weight: bold;
    margin-top: 100px;
  }
}

.Giphy .giphy-input,
.text-input {
  -webkit-appearance: none;
  width: calc(100% - 140px);
  // margin: auto;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: none;
  padding: 0 10px;
  margin-left: 10px;
  display: inline-block;
  height: 40px;
}
.text-input {
  border-radius: 3px;
  width: calc(100% - 20px);
}
.Giphy {
  position: relative;
  display: block;
  // display: flex;
  // flex-direction: column;
  width: 100%;
}
.Giphy img {
  width: 100%;
}
.Giphy-search {
  display: inline-block;
  width: 100px;
  // margin: 0 10px;
  height: 40px;
  border-left: 1px solid #000;
  vertical-align: middle;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  text-align: center;
  line-height: 40px;
  background: white;
  vertical-align: initial;

  span {
    font-weight: bold;
    font-size: 20px;
    vertical-align: middle;
  }
}

// .Giphy-toggle {
//   position: absolute;
//   top: 5px;
//   right: 2%;
//   cursor: pointer;
//   height: 30px;
//   width: 40px;
//   // border: 1px solid black;
// }
// .Giphy-toggle:after {
//   content: "🔍";
//   font-size: 20px;
//   float: right;
//   margin-right: 10px;
//   // position: absolute;
//   // top: 5px;
//   // right: 5%;
//   // cursor: pointer;
// }
// .Giphy--search .Giphy-toggle:after {
//   content: "☓";
// }
.Giphy-controls {
  height: 1.5rem;
  margin: 20px 0 10px;
  background-color: black;
}
.Giphy-controls:after {
  content: attr(data-count);
  color: white;
  line-height: 1.5rem;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}
.Giphy-prev,
.Giphy-next {
  // content: "◀";
  font-weight: bold;
  color: white;
  line-height: 1.5rem;
  position: absolute;
  cursor: pointer;
  font-size: 25px;
}
.Giphy-prev {
  left: 0.5rem;
}
.Giphy-next {
  right: 0.5rem;
}

.Giphy-prev:hover:after,
.Giphy-next:after:hover {
  color: blue;
}

//   box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);

#slider:before, #slider:after {
  content: '';
  position: absolute;

  width: 60%;
  height: 20px;

  -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);

  -webkit-transform: rotate(-4deg) skew(-10deg);
  -moz-transform: rotate(-4deg) skew(-10deg);
  -o-transform: rotate(-4deg) skew(-10deg);
  -ms-transform: rotate(-4deg) skew(-10deg);
  transform: rotate(-4deg) skew(-10deg);

  left: 10px;
  bottom: 13px;
  z-index: -1;
}

#slider:after {
  left: auto;
  right: 10px;

  -webkit-transform: rotate(4deg) skew(10deg);
  -moz-transform: rotate(4deg) skew(10deg);
  -o-transform: rotate(4deg) skew(10deg);
  -ms-transform: rotate(4deg) skew(10deg);
  transform: rotate(4deg) skew(10deg);
}

/*
==============================================
slideLeft
==============================================
*/


.slideLeft{
  animation-name: slideLeft;
  -webkit-animation-name: slideLeft;

  animation-duration: 1s;
  -webkit-animation-duration: 1s;

  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;

  visibility: visible !important;
}

@keyframes slideLeft {
  0% {
    transform: translateX(150%);
  }
  50%{
    transform: translateX(-8%);
  }
  65%{
    transform: translateX(4%);
  }
  80%{
    transform: translateX(-4%);
  }
  95%{
    transform: translateX(2%);
  }
  100% {
    transform: translateX(0%);
  }
}

@-webkit-keyframes slideLeft {
  0% {
    -webkit-transform: translateX(150%);
  }
  50%{
    -webkit-transform: translateX(-8%);
  }
  65%{
    -webkit-transform: translateX(4%);
  }
  80%{
    -webkit-transform: translateX(-4%);
  }
  95%{
    -webkit-transform: translateX(2%);
  }
  100% {
    -webkit-transform: translateX(0%);
  }
}

/*
==============================================
slideRight
==============================================
*/


.slideRight{
  animation-name: slideRight;
  -webkit-animation-name: slideRight;

  animation-duration: 1s;
  -webkit-animation-duration: 1s;

  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;

  visibility: visible !important;
}

@keyframes slideRight {
  0% {
    transform: translateX(-150%);
  }
  50%{
    transform: translateX(8%);
  }
  65%{
    transform: translateX(-4%);
  }
  80%{
    transform: translateX(4%);
  }
  95%{
    transform: translateX(-2%);
  }
  100% {
    transform: translateX(0%);
  }
}

@-webkit-keyframes slideRight {
  0% {
    -webkit-transform: translateX(-150%);
  }
  50%{
    -webkit-transform: translateX(8%);
  }
  65%{
    -webkit-transform: translateX(-4%);
  }
  80%{
    -webkit-transform: translateX(4%);
  }
  95%{
    -webkit-transform: translateX(-2%);
  }
  100% {
    -webkit-transform: translateX(0%);
  }
}

.dare-to {
  font-size: 220px;
  text-align: center;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

  position: absolute;
  display: block;
  z-index: 999;
  // background: black;
  line-height: 148px;
  height: 120px;
  // padding: 30px;
  top: 45%;
  // left: 42%;
  width: 100%;
  text-align: center;
  // height: 180px;
  // border: 1px solid red;
  // margin-left: -250px;
  margin-top: -80px;
}

$size: 100%;

.grid-sizer-2, .grid-item-2 {
  width: $size / 2;
}
.grid-sizer-3, .grid-item-3 {
  width: $size / 3;
}
.grid-sizer-4, .grid-item-4 {
  width: $size / 4;
}
.grid-sizer-5, .grid-item-5 {
  width: $size / 5;
}
.grid-sizer-6, .grid-item-6 {
  width: $size / 6;
}
.grid-sizer-7, .grid-item-7 {
  width: $size / 7;
}
.grid-sizer-8, .grid-item-8 {
  width: $size / 8;
}
.grid-sizer-9, .grid-item-9 {
  width: $size / 9;
}
.grid-sizer-10, .grid-item-10 {
  width: $size / 10;
}

.grid-item {
  margin-top: -5px;
  // border: 1px solid red;
  img {
    width: 100%;
  }

  span {
    text-align: center;
    display: block;
    width: 100%;
    height: 100px;
    line-height: 100px;
  }
}

.fireworks {
  position: absolute;
  z-index: 9999;
  font-size: 50px;
  display: block;
  width: 10px;
  height: 10px;

  span {
    position: absolute;
    animation-duration: 0.8s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
  }

  span:nth-child(1) { animation-name: nthChild1; }
  span:nth-child(2) { animation-name: nthChild2; }
  span:nth-child(3) { animation-name: nthChild3; }
  span:nth-child(4) { animation-name: nthChild4; }
  span:nth-child(5) { animation-name: nthChild5; }
  span:nth-child(6) { animation-name: nthChild6; }
  span:nth-child(7) { animation-name: nthChild7; }
  span:nth-child(8) { animation-name: nthChild8; }
}

@keyframes nthChild1 {
  0% { transform: translate(0, 0); font-size: 150px; }
  70% { opacity: 1 }
  100% { transform: translate(0, -200px); font-size: 70px; opacity: 0 }
}
@keyframes nthChild2 {
  0% { transform: translate(0, 0); font-size: 150px;}
  70% { opacity: 1 }
  100% { transform: translate(-100px, -100px); font-size: 70px; opacity: 0 }
}
@keyframes nthChild3 {
  0% { transform: translate(0, 0); font-size: 150px; }
  70% { opacity: 1 }
  100% { transform: translate(-200px, 0px); font-size: 70px; opacity: 0 }
}
@keyframes nthChild4 {
  0% { transform: translate(0, 0); font-size: 150px; }
  70% { opacity: 1 }
  100% { transform: translate(-100px, 100px); font-size: 70px; opacity: 0 }
}
@keyframes nthChild5 {
  0% { transform: translate(0, 0); font-size: 150px; }
  70% { opacity: 1 }
  100% { transform: translate(0, 200px); font-size: 70px; opacity: 0 }
}
@keyframes nthChild6 {
  0% { transform: translate(0, 0); font-size: 150px; }
  70% { opacity: 1 }
  100% { transform: translate(100px, 100px); font-size: 70px; opacity: 0 }
}
@keyframes nthChild7 {
  0% { transform: translate(0, 0); font-size: 150px; }
  70% { opacity: 1 }
  100% { transform: translate(200px, 0px); font-size: 70px; opacity: 0 }
}
@keyframes nthChild8 {
  0% { transform: translate(0, 0); font-size: 150px; }
  70% { opacity: 1 }
  100% { transform: translate(100px, -100px); font-size: 70px; opacity: 0 }
}

.emoji-picker{
  width: 100%;

  .emoji {
    display: inline-block;
    width: 33%;
    font-size: 80px;
    text-align: center;
  }
}

.touch-area {
  touch-action: none;
  z-index: 999;
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  background: #87878C;
  text-align: center;

  p {
    font-size: 50px;
    color: darken(#87878C, 10%);
    font-weight: bold;
    margin-top: 100px;

    span {
      opacity: 0.5;
    }
  }
}

.main-screen {
  h1 {
    text-align: center;
  }

  p {
    color: white;
    padding: 20px 10px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    margin-bottom: 20px;
    font-size: 20px;
    background: #87878C;

    .iosIcon {
      float: right;
      font-weight: bold;
      font-size: 30px;
      line-height: 30px;
    }
  }
}

.dream {
  margin: 0px;
  font-family: 'Mr Dafoe', cursive;
  font-size: 35px;
  color: #F975F7 ;
  transform:rotate(-15deg);
  -webkit-transform:rotate(-15deg); /* Safari and Chrome */
  -webkit-text-stroke: 1px #f008b7;
  -webkit-filter: drop-shadow(2px 2px 20px #f008b7);
}
.machine {
  font-family: 'Mr Dafoe', cursive;
  font-size: 35px;
  transform:rotate(-15deg);
  -webkit-transform:rotate(-15deg); /* Safari and Chrome */
  color: #ed2121;
  text-shadow: 1px 2px 0px #F9D2D2;
}
.future {
  font-family: 'Mr Dafoe', cursive;
  font-size: 35px;
  color: #EB219B;
  -webkit-text-fill-color: rgba(253, 90, 250, 1);
  text-shadow: -2px -2px 0 #FFBAF2;
  -webkit-filter: drop-shadow(3px 3px 1px #441F62);
  -webkit-transform: skew(-5deg,-5deg);
  font-weight: normal;
}
